.letra{
    width: 30px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 5px;
    display: none;
}

.letraJ{
    width: 30px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 5px;
}

#dvdisplay{
    display: block;
}

#dvForca{
    position: absolute;
    left: 150px;
}

#cabeca{
    position: absolute;
    top: 0px;
    left: 0px;
}

#corpo{
    position: absolute;
    top: 250px;
    left: 240px;
}

#bracoE{
    position: absolute;
    top: 250px;
    left: -5px;
}

#bracoD{
    position: absolute;
    top: 250px ;
    left: 260px;
}

#pernaE {
    position: absolute;
    top: 477px;
    left: -10px;
    
}

#pernaD {
    position: absolute;
    top: 477px;
    left: 255px;
    
}